.navbar-bg-change{
    background-color: blue;
    margin-bottom: 100px;
}
.margin-change{
    margin-bottom: 100px;
}
.color-add-1{
    background-color: orange;
    padding: 10px 30px;
    border-radius: 10px;
    color: white;
}
.color-add-2{
    background-color: blue;
    padding: 10px 30px;
    border-radius: 10px;
    color: white;
}
.color-add-3{
    background-color: crimson;
    padding: 10px 30px;
    border-radius: 10px;
    color: white;
}
.buy-now-button{
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
   
}
.card{
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 10px lightgray;
}
.card-footer{
    background-color: white;
    border: none;
}